{%extends "app1/base.html"%}
{% load static%}
{% block body%}
<div class = "container my-3">
    <div class = "row my-3">
        <div class = "col-sm-6 offset-sm-2">
            <h1 class = "text-center">Password Reset Confirm</h1>
        <hr>
        <form action = "" method = "post" novalidate class = "shadow p-6 my-3">
            {% csrf_token%}
            <br><br>
            <div class = "container">
                {% for i in form%}
                <div class = "form-group">
                    {{i.label_tag}}{{i}}<small class = "text-danger">{{i.errors|striptags}}</small> 
                </div>
                {% endfor%} 
                <input type = "submit" value = "submit" class = " my-4 btn btn-danger">
                {% if form.non_field_errors%}
                {% for i in form.non_field_errors%}
                <p class = "alert alert-danger my-3">{{i}}</p>
                {% endfor%}
                {% endif%}

            </div>
        </form>
        </div>
    </div>
</div>z
{% endblock%}