{%extends 'app1/base.html'%}
{% block title %}registration{% endblock title%}
{% block body%}
<div class = "container">
    <div class = "row my-3">
        <div class = "col-sm-6 offset-sm-3">
            <h2>Customer Registration:</h2>
            <hr>
            <form action = "" method = "POST" novalidate class = "shadow p-5">
                {% csrf_token%}
                {% if messages%}
                {% for i in messages%}
                <p {% if i.tags%} class = "alert alert-{{i.tags}}" {% endif%}>{{i}}</p>
                {% endfor%}
                {%endif%}
                {% for i in form%}
                <div class = "form-group mb-3 ">
                    {{i.label_tag}} {{i}} <small class = "text-danger">{{i.errors|striptags}}</small>
                </div>
                {% endfor%}
                <input type = "submit" value = "submit" class = "btn btn-warning">
                <br>
                <div class = "text-center text-primary fw-bold">
                    <small>Existing User ?<a href = "/accounts/login/">Login Now</a></small>

                </div>
                {% if form.non_field_errors%}
                {% for i in form.non_field_errors%}
                <p class = "alert alert-danger my-3">{{i}}</p>
                {% endfor%}
                {% endif%}
            </form>
        </div>
    </div>
</div>

{% endblock%}